{% set en_nav = config.extra.english_nav if config.extra and config.extra.english_nav else {} %}
{% set basics = en_nav.basics if en_nav and en_nav.basics else {} %}
{% set current_url = page.url if page and page.url else '' %}
{% set basics_active = current_url.startswith('en/kihon/') %}

<nav class="md-nav md-nav--primary" aria-label="Navigation" data-md-level="0">
  <label class="md-nav__title" for="__drawer">
    <a href="{{ config.site_url ~ 'en/index.html' }}" title="Mahjong Beginner Guide" class="md-nav__button md-logo" aria-label="Mahjong Beginner Guide" data-md-component="logo">
      {% include "partials/logo.html" %}
    </a>
    Mahjong Beginner Guide
  </label>
  <ul class="md-nav__list" data-md-scrollfix>
    <li class="md-nav__item{% if current_url == 'en/index.html' %} md-nav__item--active{% endif %}">
      <a href="{{ config.site_url ~ 'en/index.html' }}" class="md-nav__link{% if current_url == 'en/index.html' %} md-nav__link--active{% endif %}">
        <span class="md-ellipsis">Home</span>
      </a>
    </li>

    <li class="md-nav__item md-nav__item--nested{% if basics_active %} md-nav__item--active{% endif %}">
      <input class="md-nav__toggle md-toggle" type="checkbox" id="__nav_en_basics" {% if basics_active %}checked{% endif %}>
      <div class="md-nav__link md-nav__container">
        <a href="{{ config.site_url ~ basics.overview.path }}" class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}">
          <span class="md-ellipsis">{{ basics.title }}</span>
        </a>
        <label class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}" for="__nav_en_basics" id="__nav_en_basics_label" tabindex="0">
          <span class="md-nav__icon md-icon"></span>
        </label>
      </div>
      <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_en_basics_label" aria-expanded="{{ basics_active | tojson }}">
        <label class="md-nav__title" for="__nav_en_basics">
          <span class="md-nav__icon md-icon"></span>
          {{ basics.title }}
        </label>
        <ul class="md-nav__list" data-md-scrollfix>
          <li class="md-nav__item{% if current_url == basics.overview.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.overview.path }}" class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.overview.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon01.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon01.path }}" class="md-nav__link{% if current_url == basics.kihon01.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon01.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon02.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon02.path }}" class="md-nav__link{% if current_url == basics.kihon02.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon02.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon03.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon03.path }}" class="md-nav__link{% if current_url == basics.kihon03.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon03.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon04.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon04.path }}" class="md-nav__link{% if current_url == basics.kihon04.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon04.title }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </li>

    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 2: Tile Efficiency</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 3: Yaku</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 4: Dora and Red Fives</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 5: Calling</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 6: Riichi</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 7: Defense</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 8: Situational Judgment</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 9: Push/Fold Decisions</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Appendix</span></span>
    </li>
  </ul>
</nav>
