{% set en_nav = config.extra.english_nav if config.extra and config.extra.english_nav else {} %}
{% set basics = en_nav.basics if en_nav and en_nav.basics else {} %}
{% set tile_efficiency = en_nav.tile_efficiency if en_nav and en_nav.tile_efficiency else {} %}
{% set en_site_title = "Japanese Mahjong: From Beginner to Master" %}
{% set current_url = page.url if page and page.url else '' %}
{% set basics_active = current_url.startswith('en/kihon/') %}
{% set tile_efficiency_active = current_url.startswith('en/pairi/') %}

<nav class="md-nav md-nav--primary" aria-label="Navigation" data-md-level="0">
  <label class="md-nav__title" for="__drawer">
    <a href="{{ config.site_url ~ 'en/index.html' }}" title="{{ en_site_title }}" class="md-nav__button md-logo" aria-label="{{ en_site_title }}" data-md-component="logo">
      {% include "partials/logo.html" %}
    </a>
    {{ en_site_title }}
  </label>
  <ul class="md-nav__list" data-md-scrollfix>
    <li class="md-nav__item{% if current_url == 'en/index.html' %} md-nav__item--active{% endif %}">
      <a href="{{ config.site_url ~ 'en/index.html' }}" class="md-nav__link{% if current_url == 'en/index.html' %} md-nav__link--active{% endif %}">
        <span class="md-ellipsis">Home</span>
      </a>
    </li>

    <li class="md-nav__item md-nav__item--nested{% if basics_active %} md-nav__item--active{% endif %}">
      <input class="md-nav__toggle md-toggle" type="checkbox" id="__nav_en_basics" {% if basics_active %}checked{% endif %}>
      <div class="md-nav__link md-nav__container">
        <a href="{{ config.site_url ~ basics.overview.path }}" class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}">
          <span class="md-ellipsis">{{ basics.title }}</span>
        </a>
        <label class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}" for="__nav_en_basics" id="__nav_en_basics_label" tabindex="0">
          <span class="md-nav__icon md-icon"></span>
        </label>
      </div>
      <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_en_basics_label" aria-expanded="{{ basics_active | tojson }}">
        <label class="md-nav__title" for="__nav_en_basics">
          <span class="md-nav__icon md-icon"></span>
          {{ basics.title }}
        </label>
        <ul class="md-nav__list" data-md-scrollfix>
          <li class="md-nav__item{% if current_url == basics.overview.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.overview.path }}" class="md-nav__link{% if current_url == basics.overview.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.overview.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon01.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon01.path }}" class="md-nav__link{% if current_url == basics.kihon01.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon01.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon02.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon02.path }}" class="md-nav__link{% if current_url == basics.kihon02.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon02.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon03.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon03.path }}" class="md-nav__link{% if current_url == basics.kihon03.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon03.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon04.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon04.path }}" class="md-nav__link{% if current_url == basics.kihon04.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon04.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon05.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon05.path }}" class="md-nav__link{% if current_url == basics.kihon05.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon05.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon06.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon06.path }}" class="md-nav__link{% if current_url == basics.kihon06.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon06.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon07.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon07.path }}" class="md-nav__link{% if current_url == basics.kihon07.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon07.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon08.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon08.path }}" class="md-nav__link{% if current_url == basics.kihon08.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon08.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon09.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon09.path }}" class="md-nav__link{% if current_url == basics.kihon09.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon09.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon10.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon10.path }}" class="md-nav__link{% if current_url == basics.kihon10.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon10.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon11.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon11.path }}" class="md-nav__link{% if current_url == basics.kihon11.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon11.title }}</span>
            </a>
          </li>
          <li class="md-nav__item{% if current_url == basics.kihon12.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ basics.kihon12.path }}" class="md-nav__link{% if current_url == basics.kihon12.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ basics.kihon12.title }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </li>

    <li class="md-nav__item md-nav__item--nested{% if tile_efficiency_active %} md-nav__item--active{% endif %}">
      <input class="md-nav__toggle md-toggle" type="checkbox" id="__nav_en_tile_efficiency" {% if tile_efficiency_active %}checked{% endif %}>
      <div class="md-nav__link md-nav__container">
        <a href="{{ config.site_url ~ tile_efficiency.overview.path }}" class="md-nav__link{% if current_url == tile_efficiency.overview.path %} md-nav__link--active{% endif %}">
          <span class="md-ellipsis">{{ tile_efficiency.title }}</span>
        </a>
        <label class="md-nav__link{% if current_url == tile_efficiency.overview.path %} md-nav__link--active{% endif %}" for="__nav_en_tile_efficiency" id="__nav_en_tile_efficiency_label" tabindex="0">
          <span class="md-nav__icon md-icon"></span>
        </label>
      </div>
      <nav class="md-nav" data-md-level="1" aria-labelledby="__nav_en_tile_efficiency_label" aria-expanded="{{ tile_efficiency_active | tojson }}">
        <label class="md-nav__title" for="__nav_en_tile_efficiency">
          <span class="md-nav__icon md-icon"></span>
          {{ tile_efficiency.title }}
        </label>
        <ul class="md-nav__list" data-md-scrollfix>
          <li class="md-nav__item{% if current_url == tile_efficiency.overview.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.overview.path }}" class="md-nav__link{% if current_url == tile_efficiency.overview.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.overview.title }}</span>
            </a>
          </li>
          {% if tile_efficiency.pairi01 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi01.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi01.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi01.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi01.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi02 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi02.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi02.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi02.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi02.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi03 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi03.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi03.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi03.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi03.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi04 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi04.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi04.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi04.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi04.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi05 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi05.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi05.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi05.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi05.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi06 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi06.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi06.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi06.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi06.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi07 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi07.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi07.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi07.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi07.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi08 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi08.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi08.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi08.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi08.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi09 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi09.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi09.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi09.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi09.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi10 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi10.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi10.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi10.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi10.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi11 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi11.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi11.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi11.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi11.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi12 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi12.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi12.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi12.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi12.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi13 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi13.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi13.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi13.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi13.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi14 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi14.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi14.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi14.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi14.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi15 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi15.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi15.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi15.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi15.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi16 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi16.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi16.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi16.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi16.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi17 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi17.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi17.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi17.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi17.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi18 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi18.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi18.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi18.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi18.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi19 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi19.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi19.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi19.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi19.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if tile_efficiency.pairi20 %}
          <li class="md-nav__item{% if current_url == tile_efficiency.pairi20.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ tile_efficiency.pairi20.path }}" class="md-nav__link{% if current_url == tile_efficiency.pairi20.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ tile_efficiency.pairi20.title }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </li>
    <li class="md-nav__item">
      <a href="{{ config.site_url }}en/teyaku/index.html" class="md-nav__link{% if current_url == 'en/teyaku/index.html' %} md-nav__link--active{% endif %}">
        <span class="md-ellipsis">Chapter 3: Yaku</span>
      </a>
      <nav class="md-nav" aria-label="Chapter 3: Yaku">
        <ul class="md-nav__list">
          {% if yaku and yaku.overview %}
          <li class="md-nav__item{% if current_url == yaku.overview.path %} md-nav__item--active{% endif %}">
            <a href="{{ config.site_url ~ yaku.overview.path }}" class="md-nav__link{% if current_url == yaku.overview.path %} md-nav__link--active{% endif %}">
              <span class="md-ellipsis">{{ yaku.overview.title }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 4: Dora and Red Fives</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 5: Calling</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 6: Riichi</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 7: Defense</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 8: Situational Judgment</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Chapter 9: Push/Fold Decisions</span></span>
    </li>
    <li class="md-nav__item">
      <span class="md-nav__link"><span class="md-ellipsis">Appendix</span></span>
    </li>
  </ul>
</nav>
